.dark-mode-vers {
  background-color: #4b4b4b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.dark-mode-vers .div {
  background-color: #4b4b4b;
  border: 1px solid;
  border-color: #000000;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.dark-mode-vers .overlap-group {
  background-color: #d9d9d9;
  height: 725px;
  left: 44px;
  position: absolute;
  top: 175px;
  width: 1351px;
}

.dark-mode-vers .title-box {
  background-color: #4b4b4b;
  border-radius: 7px;
  height: 195px;
  left: 35px;
  position: absolute;
  top: 486px;
  width: 610px;
}

.dark-mode-vers .text-wrapper {
  color: #ffffff;
  font-family: "DM Sans-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 558px;
  width: 595px;
}

.dark-mode-vers .text-wrapper-2 {
  color: #fffdfd;
  font-family: "DM Sans-Bold", Helvetica;
  font-size: 45px;
  font-weight: 700;
  left: 80px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 485px;
  white-space: nowrap;
  width: 575px;
}

.dark-mode-vers .vector {
  height: 30px;
  left: 12px;
  position: absolute;
  top: 666px;
  width: 31px;
}

.dark-mode-vers .overlap {

  background-size: 100% 100%;
  height: 71px;
  left: 44px;
  position: absolute;
  top: 923px;
  width: 1348px;
}

.dark-mode-vers .message-input {
  color: #ffffff33;
  font-family: "DM Sans-Regular", Helvetica;
  font-size: 27px;
  font-weight: 400;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  width: 628px;
}

.dark-mode-vers .overlap-2 {
  height: 175px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.dark-mode-vers .white-bar-top {
  background-color: #ffffff;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.dark-mode-vers .UH-logo {
  height: 87px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 575px;
}

.dark-mode-vers .navbar-subsitute {
  height: 81px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 94px;
  width: 1440px;
}

.dark-mode-vers .ITS-logo {
  height: 70px;
  left: 1242px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 180px;
}
