.chat-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.chat-box {
  max-height: 100%;
  overflow-y: auto;
}

.chat-box .list-group {
  max-height: 100%;
}

.bot-message,
.user-message {
  max-width: 70%;
  word-wrap: break-word;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}

.user-message {
  background-color: #666;
  color: #fff;
}

.bot-message {
  background-color: #f4f4f4;
}

.input-form {
  margin-top: 20px;
}