.chat-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.chat-box {
  max-height: 100%;
  overflow-y: auto;
}

.chat-box .list-group {
  max-height: 100%;
  width: 100%;
}

.bot-message,
.user-message {
  word-wrap: break-word;
  margin: 10px 0;
  padding: 10px;
}

.message-text {
  max-width: 50%;
  margin-left: 25%;
  text-align:left;
}

.user-message {
  background-color: #E0DFE2;
  color: #1E1D20;

}

.bot-message {
  background-color: #f4f4f4;
}

.input-form {
  margin-top: 20px;
}